body {
  font-family: 'Arial', sans-serif;
  background-color: #fffaf3;
  color: #000;
}

a {
  text-decoration: none;
}

.nav-link {
  color: #000 !important;
}

.nav-link.active {
  font-weight: bold;
  color: #ff7b00 !important;
}

.btn-warning {
  background-color: #ff7b00;
  border-color: #ff7b00;
}

.btn-outline-warning {
  color: #ff7b00;
  border-color: #ff7b00;
}

.btn-outline-warning:hover {
  background-color: #ff7b00;
  color: #fff;
}

.card {
  border: 2px solid #ffde59;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
